body{
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('image.jpg');

}
 /* header::before{
    background: url('image.jpg');
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;               
} */

.left{
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 20px;
}

.left img{
    width: 60px;
}

.mid{
    border: 2px solid blue;
    display: block;
    margin: 20px auto;
    width: 33%;
    border-radius: 18px;
}

.right{
    /* border: 2px solid green; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px
}

#search{
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 20px;
    width: 130px;
    padding: 5px 3px;
}

.btn{
    margin: 0px 5px;
    cursor: pointer;
    font-family: 'Balsamiq Sans', cursive;
    transition: .5s;
}

.btn:hover{
    background-color:rgb(162, 162, 235);
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 14px;  
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 13px 13px;  
}

.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    background-color: rgb(162, 162, 235);
    
    
}

.container{
    border: 1px solid white;
    margin: 60px 80px;
    padding: 50px;
    border-radius: 25px;
    width: 33%;
}
/* border: 1px solid white;
    margin: 35px 80px;
    padding: 40px;
    border-radius: 20px;
    width: 33%; */


.form-group input{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 15px;
}
#female:hover{
    color: rgb(162 ,162,235 );
}
#male:hover{
    color: rgb(162 ,162,235 );
}




.service
{
width: 100%;
background: #111;
padding: 50px 0px;
}
.service .text
{
width: 1200px;
margin:auto;
padding:25px 0px;
}
.service .text h1
{
color: #fff;
font-weight: bold;
font-size: 40px;
text-align: center;
}
.service .box
{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 50px;
}
.service .box div
{
width: 350px;
background:#fff;
border-radius: 10px;
text-align: center;
padding:20px 10px;
}
.service .box div ion-icon
{
color: #e33;
font-size: 50px;
padding-top: 20px;
}
.service .box div h2
{
font-weight: bold;
cursor: pointer;
padding-top: 20px;
}
.service .box div p
{
color: #111;
line-height: 25px;
padding:30px;
font-weight: bold;
font-family: arial;
}



.pricing
{
width: 100%;
background-color: #222;
}
.price
{
width: 1200px;
margin:auto;
padding:50px 0px;
height: 600px;
}
.price h1
{
text-align: center;
color: #fff;
}
.price p
{
color: #fff;
font-size: 15px;
padding-top: 20px;
text-align: center;
}
.pricing .price-box
{
display: flex;
justify-content: space-between;
align-items: center;
}
.pricing .price-box div
{
width: 300px;
padding:25px;
background-color: #fff;
border-radius: 10px;
text-align: center;
margin-top: 100px;
cursor: pointer;
transition: .5s;
}
.pricing .price-box div:hover
{
margin-top: 70px;
}
.pricing .price-box div h2
{
font-size: 30px;
}
.pricing .price-box div h3
{
font-size: 60px;
color: #e33;
padding-top: 20px;
}
.pricing .price-box div h5
{
font-weight: bold;
font-size: 15px;
padding-top: 20px;
}
.pricing .price-box div .btn
{
width: 140px;
height: 45px;
background-color: #e33;
border-radius: 25px;
border:2px solid #e33;
color: #fff;
font-weight: bold;
cursor: pointer;
margin-top: 20px;
transition: .5s;
}
.pricing .price-box div .btn:hover
{
background-color: #e11;
}
.footer-fluid
{
width: 100%;
background-color: #111;
}
.footer
{
width: 1200px;
margin: auto;
padding:50px;
display: flex;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
}
.footer p
{
color: #fff;
}
.footer a
{
text-decoration: none;
color: #e33;
}
.footer ion-icon
{
color: #fff;
font-size: 25px;
margin-right: 10px;
cursor: pointer;
transition: .5s;
}
.footer ion-icon:hover
{
color: #e33;
}